@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
@layer base {
  :root {
    --gray-50: #ffffff;
    --gray-75: #fafafa;
    --gray-100: #f4f4f5;
    --gray-200: #e4e4e7;
    --gray-300: #d4d4d8;
    --gray-400: #a1a1aa;
    --gray-500: #71717a;
    --gray-600: #52525b;
    --gray-700: #3f3f46;
    --gray-800: #27272a;
    --gray-900: #18181b;
    --gray-950: #09090b;

    --selection: hsla(240, 5%, 84%, 0.35);
    --drag: hsla(217, 91%, 60%, 0.12);
    --border: hsla(240, 5%, 84%, 0.16);
    --page-background: var(--gray-50);
    --page-opacity: rgba(255, 255, 255, 0.85);
    --blockquote-border: var(--gray-300);

    --heading: var(--gray-900);
    --text-body: var(--gray-800);
    --text-second: var(--gray-600);
    --text-disabled: var(--gray-400);

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --code-highlighted: var(--selection);
    --progress-bar-color: var(--gray-800);
  }

  .dark {
    --gray-50: #09090b;
    --gray-75: #101012;
    --gray-100: #18181b;
    --gray-200: #27272a;
    --gray-300: #3f3f46;
    --gray-400: #52525b;
    --gray-500: #71717a;
    --gray-600: #c4c4c8;
    --gray-700: #dcdcde;
    --gray-800: #f2f2f3;
    --gray-900: #fafafa;
    --gray-950: #fefefe;

    --selection: hsla(240, 5%, 84%, 0.12);
    --border: hsla(240, 5%, 84%, 0.12);
    --page-background: var(--gray-50);
    --page-opacity: rgba(9, 9, 11, 0.85);
    --blockquote-border: var(--gray-300);

    --heading: var(--gray-900);
    --text-body: var(--gray-800);
    --text-second: var(--gray-600);
    --text-disabled: var(--gray-500);

    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --code-highlighted: hsla(240, 5%, 84%, 0.06);
    --progress-bar-color: #60a5fa;
  }
}

/* variables */
@layer base {
  :root {
    --page-top: 76px;
    --page-half-top: 64px;
    --page-width: 1024px;
    --content-width: 680px;
    --body-margin-left: max(24px, env(safe-area-inset-left));
    --body-margin-right: max(24px, env(safe-area-inset-right));
  }

  @media (max-width: 768px) {
    :root {
      --page-top: 64px;
      --page-half-top: 48px;
      --body-margin-left: max(20px, env(safe-area-inset-left));
      --body-margin-right: max(20px, env(safe-area-inset-right));
    }
  }
}

/* layout */
@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply m-0 min-h-screen p-0;
    @apply font-sans text-base leading-7 tracking-normal antialiased;
    @apply bg-page text-second;
  }

  header,
  main,
  footer {
    padding-right: var(--body-margin-right);
    padding-left: var(--body-margin-left);
  }

  main > .container {
    @apply mx-auto max-w-content pt-page;
    min-height: calc(100vh - var(--page-half-top) * 2 - 20px);
  }

  * {
    @apply box-border border-border;
  }

  ::selection {
    @apply bg-drag shadow-none;
  }

  h1 {
    @apply text-xl font-semibold text-heading;
  }

  b,
  strong {
    @apply font-bold text-body;
  }

  em {
    @apply font-serif font-bold not-italic text-body;
  }

  del {
    @apply text-disabled;
  }

  mark {
    @apply rounded-sm bg-selection font-medium text-body;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 4px;
  }

  img {
    width: 100%;
  }

  .link,
  .external-link,
  .mdx a {
    @apply relative inline-block break-all text-body hover:text-heading;
    @apply underline decoration-border decoration-1 underline-offset-4 hover:decoration-transparent;
    @apply duration-200 ease-in-out hover:duration-100;
  }
  .link::before,
  .external-link::before,
  .mdx a:not(.anchor)::before {
    @apply absolute -inset-x-1 bottom-0.5 top-0 -z-10 rounded transition-colors hover:bg-selection;
    content: "";
  }
  .external-link::before {
    @apply -right-0.5;
  }
  a.external-link::after,
  .mdx a.external-link::after {
    @apply m-0 inline-block h-3.5 w-3.5;
    content: "";
    background: url('data:image/svg+xml;utf8,<svg color="%23464646" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6m0 0H9m9 0v9"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dark a.external-link::after {
    background: url('data:image/svg+xml;utf8,<svg color="%23B0B0B0" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6m0 0H9m9 0v9"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* scrollbar */
  * {
    --scrollbar-size: 16px;
    --scrollbar-size-min: 40px;
    --scrollbar-color: var(--gray-200);
    scrollbar-color: var(--scrollbar-color) transparent;
    scrollbar-width: thin; /* firefox */
  }

  ::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }

  ::-webkit-scrollbar-thumb {
    min-width: var(--scrollbar-size-min);
    min-height: var(--scrollbar-size-min);
    background-color: var(--scrollbar-color);
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: var(--scrollbar-size);
  }

  ::-webkit-scrollbar-thumb:hover {
    --scrollbar-color: var(--gray-300);
  }

  ::-webkit-scrollbar-thumb:active {
    --scrollbar-color: var(--gray-300);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner,
  ::-webkit-resizer {
    display: none;
  }
}

/* header blur layer */
@layer components {
  .blur-layer {
    --h: min(96px, var(--page-top));
    position: fixed;
    top: 0;
    z-index: 1;
    width: calc(100% + var(--body-margin-left) + var(--body-margin-right));
    height: var(--h);
    margin-bottom: calc(-1 * var(--h));
    margin-left: calc(-1 * var(--body-margin-left));
    pointer-events: none;
    user-select: none;
    backdrop-filter: blur(5px);
    opacity: 0.95;
    mask-image: linear-gradient(to bottom, #000000 25%, transparent);
  }

  .blur-layer:after {
    position: absolute;
    inset: 0;
    content: "";
    background: linear-gradient(to bottom, var(--page-background), transparent);
  }
}
