---
import '@/styles/animation.css'

import MetaHead from '@/layouts/partials/MetaHead.astro'
import Footer from '@/layouts/partials/Footer.astro'
import Header from '@/layouts/partials/Header.astro'
import Monitoring from '@/components/scripts/Monitoring.astro'
import ThemeHead from '@/components/scripts/ThemeHead.astro'
import { Toaster } from '@/components/ui/toaster'
import Analytics from '@vercel/analytics/astro'
import SpeedInsights from "@vercel/speed-insights/astro"
import { isProduction } from '@/lib/utils'

import type { BaseLayoutProps } from '@/types/astro'

export interface Props extends BaseLayoutProps {}

const { seo, class: className } = Astro.props
---

<html lang="ko">
  <head>
    <MetaHead {...seo} />
    <ThemeHead />
    <Monitoring />
    {isProduction && (
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3296643559689345" crossorigin="anonymous"></script>
    )}
  </head>
  <body>
    <Header />
    <Analytics />
    <SpeedInsights />
    <main class={className}>
      <div class="container">
        <slot />
      </div>
    </main>
    <Footer />
    <Toaster client:idle />
  </body>
</html>
